NET "display[14]" LOC = P6;
NET "display[13]" LOC = N4;
NET "display[12]" LOC = V5;
NET "display[11]" LOC = T5;
NET "display[10]" LOC = U7;
NET "display[9]" LOC = R3;
NET "display[8]" LOC = N5;
NET "display[7]" LOC = R5;
NET "display[6]" LOC = T3;
NET "display[5]" LOC = T4;
NET "display[4]" LOC = V4;
NET "display[3]" LOC = V7;
NET "display[2]" LOC = R7;
NET "display[0]" LOC = U5;
NET "display[1]" LOC = T7;

NET "rst_n" LOC = N3;
NET "clk" LOC = R10;

NET "ftsd_ctl[3]" LOC = T6;
NET "ftsd_ctl[2]" LOC = V6;
NET "ftsd_ctl[1]" LOC = U8;
NET "ftsd_ctl[0]" LOC = V8;

NET "row_n[0]" LOC = K2;
NET "row_n[1]" LOC = K1;
NET "row_n[2]" LOC = L4;
NET "row_n[3]" LOC = L3;
NET "col_n[0]" LOC = J3;
NET "col_n[1]" LOC = J1;
NET "col_n[2]" LOC = H2;
NET "col_n[3]" LOC = H1;

//*NET "au_appsel" LOC = H18;
//NET "au_bck" LOC = K16;
//NET "au_sysclk" LOC = H17;
//NET "au_ws" LOC = L15;
//NET "au_data" LOC = L16;*/

# PlanAhead Generated physical constraints 
NET "led[15]" LOC = H5;
NET "led[14]" LOC = H6;
NET "led[13]" LOC = F1;
NET "led[12]" LOC = F2;
NET "led[11]" LOC = J6;
NET "led[10]" LOC = J7;
NET "led[9]" LOC = G1;
NET "led[8]" LOC = G3;
NET "led[7]" LOC = K6;
NET "led[6]" LOC = L7;
NET "led[5]" LOC = H3;
NET "led[4]" LOC = H4;
NET "led[3]" LOC = K5;
NET "led[2]" LOC = L5;
NET "led[1]" LOC = K3;
NET "led[0]" LOC = K4;

NET "button[5]" LOC = T2;
NET "button[4]" LOC = U1;
NET "button[3]" LOC = U2;
NET "button[2]" LOC = M5;
NET "button[1]" LOC = L6;
NET "button[0]" LOC = P3;
NET "lcd_cs[0]" LOC = E1;
NET "lcd_cs[1]" LOC = F4;
NET "lcd_d[7]" LOC = F3;
NET "lcd_d[6]" LOC = D2;
NET "lcd_d[5]" LOC = D1;
NET "lcd_d[4]" LOC = H7;
NET "lcd_d[3]" LOC = G6;
NET "lcd_d[2]" LOC = E4;
NET "lcd_d[1]" LOC = D3;
NET "lcd_d[0]" LOC = F6;
NET "button_music_pp" LOC = P4;
NET "dip" LOC = T1;
NET "dip_out" LOC = A4;
NET "lcd_di" LOC = C1;
NET "lcd_e" LOC = F5;
NET "lcd_rst" LOC = E3;
NET "lcd_rw" LOC = C2;
//NET "fan_dic" LOC = D6;
//NET "fan_spd" LOC = C6;
//NET "data_request" LOC = H5;
//NET "data_ack" LOC = H6;
NET "song_sel_out[2]" LOC = A7; //a5
NET "song_sel_out[1]" LOC = D8;	//a6
NET "song_sel_out[0]" LOC = A8;	//a7
NET "pause_out" LOC = G9;
NET "speed_out[1]" LOC = D6; //a2
NET "speed_out[0]" LOC = A3; //a3
NET "dip_out" LOC = A4; //c3
NET "dip2" LOC = P2;